<%= render "layouts/shared/mobile_footer" %>
<footer>
  <div class="footer-container container">
    <div class="footer-row row">
      <div class="col col-xs-3 col-md-3 col-lg-3 logo-col border-rgt">
        <%= image_tag("trt_logo_blue.png") %>
      </div>
      <div class="col col-xs-4 col-md-4 col-lg-4 epix-col">
        <div class="bold">&copy UNEP-WCMC </div>
        <div>
          The United Nations Environment Programme's
          <br/>
          World Conservation Monitoring Centre
        </div>
      </div>
      <div class="col col-xs-5 col-md-5 col-lg-5 logos-col"></div>
    </div>
  </div>
</footer>

