<footer class="mobile-footer">
  <div class="row logo-row">
    <%= image_tag("epix_main_logo.png") %>
  </div>
  <div class="row signature-row">
    <div class="bold">&copy UNEP-WCMC </div>
    <div>
      The United Nations Environment Programme's
      <br/>
      World Conservation Monitoring Centre
    </div>
  </div>
  <div class="row icons-row"></div>
</footer>
