<div id="download_modal" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <a class="close bold" href="#" data-dismiss="modal">x</a>
      <h2 class="modal-title"><%= t('download_report') %></h2>
    </div>
    <div class="modal-body">
      <p class="download-info"><%= t('download_info') %></p>
      <p class="file-to-download"></p>
      <div class="change-sandbox-settings">
        <i class="fa fa-info-circle"></i>
        <%= t('change_sandbox_settings').html_safe %>
      </div>
    </div>
  </div>
</div>
