<h1>You are not authorised to access this page.</h1>

<h3>
  Please login via
  <%= link_to "EPIX", new_epix_user_session_path %>,
  or via
  <%= link_to "Species+", new_sapi_user_session_path %>
</h3>
