h1 { border-bottom: 3px solid $light-grey; }
h4 {
  margin: 10px 0 0;
  padding-bottom: 10px;
  color: $main-blue;
}
.new-upload-form {
  background-color: $lightest-grey;
  height: 400px;
  label {
    display: block;
    cursor: pointer;
    line-height: 2.5;
    color: $grey;
    margin: 10px 0;
    font-weight: normal;
  }
}

[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px; margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

[type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  vertical-align: -0.3em;
  border-radius: 1em;
  border: 0.25em solid white;
  box-shadow: 0 0 0 0.1em $light-grey;
  margin-right: 0.75em;
  transition: 0.5s ease all;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
  background: $main-blue;
}

input.real-file-input {
  display: none;
}

.file-upload-container {
  width: 100%;
  height: 30px;
  background: white;
  border: 1px solid $cream;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  cursor: pointer;
  a.fake-file-input {
    color: $grey;
    padding: 0;
  }
  .fa-upload { color: $main-green; }
}

.upload-button {
  padding: 6px 65px;
  margin-top: 10px;
}

#download_modal {
  .modal-content {
    width: 500px;
    height: 370px;
  }
  .change-sandbox-settings {
    background: $lightest-grey;
    padding: 20px;
  }
  .fa-info-circle {
    width: 0;
    position: relative;
    top: 7px;
    right: 10px;
    color: $main-blue;
    font-size: 18px;
  }
  span {
    position: relative;
    left: 10px;
    a {
      text-decoration: underline;
      color: $main-green;
    }
  }
  .buttons { margin: 20px 0; }
  .button { padding: 9px 30px; }
  .download-button.disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

.annual-report-upload {
  margin-bottom: 10px;
}

.upload-summary {
  color: $main-green;
  text-decoration: underline;
}

#in_progress_uploads {
  margin-bottom: 40px;
}

.in-progress-upload {
  a.delete-upload {
    color: $main-green;
    text-decoration: underline;
    float: right;
  }
}

.past-upload {
  i {
    display: block;
    color: $grey;
  }
  margin-bottom: 10px;
}

.paginator {
  border-top: 1px solid $light-grey;
  color: $grey;
  text-align: center;
  padding-top: 10px;
}

.paginator-link {
  color: $main-green;
  text-decoration: underline;
  margin: 0 10px;
  cursor: pointer;
}

.current-page {
  position: relative;
  top: 2px;
  background: $main-blue;
  border-left: 7px solid $main-blue;
  border-right: 7px solid $main-blue;
  border-top: 3px solid $main-blue;
  border-radius: 100px;
  span {
    color: white;
    position: relative;
    top: -2px;
  }
}
