.sandbox-header {
  margin: 35px 0 0;
  h1.sandbox-title { border: 0; }
}
h1.sandbox-title {
  span {
    color: $light-grey;
    font-weight: normal;
  }
  padding: 0 0 10px;
  margin: 0;
}
h3.sandbox-upload-summary {
  margin: 0 0 35px 0;
  border-bottom: 3px solid $light-grey;
  font-weight: normal;
  color: $main-blue;
  &.no-border {
    border: 0;
    margin: 0;
    padding: 0;
  }
}

.sandbox-body {
  width: 860px;
  margin: 0 auto;
}

.download-and-submit {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  .download-report {
    color: $main-green;
    .fa-download { margin: 0 5px 0 0; }
    a {
      color: $main-green;
      text-decoration: none;
    }
  }
}

.submit-aru {
  padding: 6px 30px;
}

.submit-disabled {
  opacity: 0.5;
  cursor: default;
}

.validation-errors-info {
  display: flex;
  align-items: center;
  background: $lightest-grey;
  height: 55px;
  margin: 15px 0;
  padding: 15px;
  .fa-info-circle {
    font-size: 18px;
    color: $main-blue;
    margin: 0 10px 0 0;
  }
}

.validation-error {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

.error-type {
  text-transform: capitalize;
  height: 30px;
  width: 80px;
  color: white;
  line-height: 30px;
  text-align: center;
  &.primary {
    background: $red;
  }
  &.secondary {
    background: $dark-yellow;
  }
}

.error-message {
  margin: 0 0 0 10px;
  a {
    color: $main-green;
    text-decoration: underline;
  }
}

.validation-errors-container {
  margin: 20px 0;
  border: 1px solid $light-grey;
}

.validation-errors-box {
  padding: 0 10px;
}

.validation-errors-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  .errors-count { color: $main-blue; }
  .toggle-errors {
    font-size: 20px;
    padding: 2px 10px;
  }
}
.show-more {
  cursor: pointer;
  color: $main-green;
  i { margin: 0 5px 20px 0; }
}

.ignore-button {
  background: white;
  color: $main-green;
  border: 2px solid $main-green;
  margin: 0 20px;
  padding: 2px 30px;
  cursor: pointer;
  &:hover { color: $main-green; }
}

.back-to-shipments {
  margin: 20px 0;
}

.top-info-box {
  span {
    background: $lightest-grey;
    padding: 5px;
  }
  color: $main-blue;
  width: auto;
  margin: 15px 0 5px;
}

.shipments-table {
  margin: 20px 0;
  width: 100%;
  thead {
    background: $main-blue;
    color: white;
    .permit-col {
      text-align: center;
      padding: 10px 0;
      margin: 0 0 10px;
    }
    .permit-col-name { padding: 0 30px 0 0; }
    .subtitle { font-weight: normal; }
    .empty-col { padding: 0 0 40px 0; }
    tr { vertical-align: top; }
    th { padding: 10px 15px 0; }
    th.permit-th {
      padding: 0 0 10px;
    }
  }

  tbody {
    color: $grey;
    td { padding: 20px 15px; }
    .even { background: $lightest-grey; }
    .odd { background: white; }
    i.fa { text-decoration: underline; }
    .actions-col {
      div { padding: 0 0 5px 0; }
    }
    span.changed {
      background: $pink;
      padding: 5px 7px;
    }
  }
}

.batch-edit-container {
  display: none;
}

.batch-edit-container, .edit-container {
  .row {
    margin: 20px 0;
    padding-bottom: 20px;
  }
}

.shipments-dropdown, .shipments-input-box {
  color: $grey;
  div { margin: 5px 0 0; }
  button {
    min-height: 25px;
    background: white;
    span { float: left; }
    i {
      margin-top: 4px;
      float: right;
      color: $main-green;
    }
    border: 1px solid $extralight-grey;
    width: 100%;
  }
  @-moz-document url-prefix() {
    button { min-height: 28px; }
  }
  input { margin: 0 10px 0 0; }
  input[type='text'] { width: 100%; }
  ul.dropdown-menu {
    width: 255px;
    margin: 0 0 0 15px;
    top: inherit;
  }
}

.batch-edit-link {
  position: relative;
  top: 32px;
}

.changes-link { height: 0; }

.dropdown-input { display: none; }
