<%=
  render partial: "shared/back_link",
    locals: {
      text: t('back_to_report') ,
      link: annual_report_upload_path(@annual_report_upload)
    }
%>
<h1 class="bold"><%= t('edit') %></h1>
<div class="edit-container">
  <%=
    form_for(@shipment,
      url: annual_report_upload_shipment_path(@annual_report_upload, @shipment)) do |f|
   %>
   <%= render partial: "form", locals: { form: f } %>
  <% end %>
</div>
